body {
    background-color: rgb(255, 146, 146);
}

#container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem;
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding:10px 15px;
    border-radius: 10px;
    background-color: rgb(101, 101, 237);
    border:none;
}

button:hover {
    background-color: rgb(80, 80, 193);
}

button:active {
    background-color: rgb(58, 58, 143);
    color: white;
}

#diceResult {
    padding: 15px;
}

#diceImages img{
    margin: 5px;
}